{% extends 'base.html' %} {% block title %} Account {% endblock %} {% block
content %}

<!-- Edit email modal -->
<div
  class="modal fade"
  id="modal-edit-email"
  tabindex="-1"
  role="dialog"
  aria-labelledby="Options menu modal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h3">Change email address</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form method="POST" id="change-email">
        <div class="modal-body">
          <div class="form-group">
            <p><b>Current:</b> {{ user.email }}</p>
          </div>

          <div class="form-group">
            <label for="new-email">New:</label>
            <input
              type="text"
              class="form-control"
              id="new-email"
              name="new-email"
              placeholder="Enter your new email address"
              max-length="320"
            />
          </div>

          <div class="form-group">
            <label for="confirm-new-email">Confirm:</label>
            <input
              type="text"
              class="form-control"
              id="confirm-new-email"
              name="confirm-new-email"
              placeholder="Confirm your new email address"
              max-length="320"
            />
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Apply</button>
          <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Account info -->
<section id="account-info">
  <h1 class="border-bottom">Account Info</h1>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <p><b>User ID:</b> {{ user.user_id }}</p>
    </li>
    <li class="list-group-item">
      <p><b>Username:</b> {{ user.username }}</p>
    </li>
    <li class="list-group-item">
      <p><b>Email address:</b> {{ user.email }}</p>
      <a data-toggle="modal" href="#modal-edit-email"
        ><i class="fas fa-edit"></i
      ></a>
    </li>
  </ul>
</section>

<!-- Security -->
<section id="security">
  <h1 class="border-bottom">Security</h1>

  <form
    action="{{ url_for('auth.change_password') }}"
    method="POST"
    id="change-password"
  >
    <h3 class="border-bottom">Change password</h3>

    <div class="form-group">
      <label for="current-password">Current:</label>
      <input
        type="password"
        class="form-control"
        id="current-password"
        name="current-password"
        placeholder="Enter your current password"
        max-length="128"
      />
    </div>

    <div class="form-group">
      <label for="new-password">New:</label>
      <input
        type="password"
        class="form-control"
        id="new-password"
        name="new-password"
        placeholder="Enter a new password"
        max-length="128"
      />
    </div>

    <div class="form-group">
      <label for="confirm-new-password">Confirm:</label>
      <input
        type="password"
        class="form-control"
        id="confirm-new-password"
        name="confirm-new-password"
        placeholder="Confirm your new password"
        max-length="128"
      />
    </div>

    <button type="submit" class="btn btn-primary">Change your password</button>
  </form>
</section>
{% endblock %}
