{% extends 'base.html' %} {% block title %} Workspace Hub {% endblock %} {%
block content %}

<section id="workspaces">
  <h2 class="h1">My Workspaces</h2>

  <ul id="workspaces-list" class="list-group list-group-flush">
    {% for workspace in user.workspaces %}
    <br />
    <li class="list-group-item h5">
      <div class="pb-2">
        <a
          class="stretched-link text-decoration-none h4"
          href="/workspace/{{ workspace.workspace_id }}"
          >{{ workspace.project_name }}</a
        >
      </div>

      <p>Workspace id: {{ workspace.workspace_id }}</p>

      <p>
        Collaborators: {% for user in workspace.users %} {{ user.username }}, {%
        endfor %}
      </p>
    </li>
    {% endfor %}
  </ul>
</section>

<br />

<form method="POST" id="new-workspace">
  <h2 class="h1">Add a Workspace</h2>

  <div id="form-group">
    <label for="project-name">Name of your project</label>
    <input
      type="text"
      class="form-control"
      id="project-name"
      name="project-name"
      placeholder="Enter a name for your project/workspace"
      max-length="50"
    />
  </div>

  <br />

  <div id="form-group">
    <label for="project-link">Link to your project</label>
    <input
      type="text"
      class="form-control"
      id="project-link"
      name="project-link"
      placeholder="(Optional) Enter a link to your project e.g. github page or link to live project"
      max-length="320"
    />
  </div>

  <br />

  <button type="submit" class="btn btn-primary">Create new workspace</button>
</form>

{% endblock %}
