{% extends 'base.html' %} {% block title %} Workspace Hub {% endblock %} {%
block content %}

<section id="workspaces">
  <h2 class="h1">My Workspaces</h2>

  <ul id="workspaces-list" class="list-group list-group-flush">
    {% if not user.workspaces %}
      <li class="list-group-item h5">
        <p>You are currently not associated with any workspaces</p>
      </li>
    {% endif %}

    {% for workspace in user.workspaces %}
    <br />
    <li class="list-group-item h5">
      <div class='row'>
        <div class='col'>
          <div class="pb-2">
            <a
              class="stretched-link text-decoration-none h3"
              href="/workspace/{{ workspace.workspace_id }}"
              >{{ workspace.project_name }}</a
            >
          </div>

          <p><b>Workspace id:</b> #{{ workspace.workspace_id }}</p>

          <p>
            <b>Collaborators:</b> {% for user in workspace.users %} {{ user.username
            }}, {% endfor %}
          </p>
        </div>
        <div class="col-sm-4">
          <button type="button" class='btn btn-primary'>Add a collaborator</button>
          <button type="button" class='btn btn-danger`'>Remove a collaborator</button>
          <button type='button' class='btn btn-danger'>Delete this workspace</button>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>

<br />

<form method="POST" id="new-workspace">
  <h2 class="h1 border-bottom py-1">Add a Workspace</h2>

  <div id="form-group">
    <label for="project-name">Name of your project</label>
    <input
      type="text"
      class="form-control"
      id="project-name"
      name="project-name"
      placeholder="Enter a name for your project/workspace"
      max-length="50"
      required
    />
  </div>

  <br />

  <div id="form-group">
    <label for="project-link">Link to your project</label>
    <input
      type="text"
      class="form-control"
      id="project-link"
      name="project-link"
      placeholder="(Optional) Enter a link to your project e.g. github page or link to live project"
      max-length="320"
    />
  </div>

  <br />

  <button type="submit" class="btn btn-primary">Create new workspace</button>
</form>

{% endblock %}
