{% extends 'base.html' %} {% block title %} Login {% endblock %} {% block
content %}
<section id="login-section">
  <form method="POST">
    <h1 class="border-bottom">Login to your account</h1>

    <div id="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        placeholder="Enter your username or email address"
        value="{{ request.form['username'] }}"
        max-length="320"
      />
    </div>

    <div id="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter a password"
        max-length="128"
      />
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</section>
{% endblock %}
