{% extends 'base.html' %} {% block title %} Workspace {{ workspace.workspace_id
}} {% endblock %} {% block content %}

<h1 class="mt-4 pb-1 border-bottom">
  <pre class="font-weight-bold text-primary h1">
{{ workspace.project_name }}  #{{ workspace.workspace_id }}</pre
  >
</h1>
<br />

<section id="bugs-section" class="pl-4">
  <h2 class="h1 border-bottom py-1">Bugs</h2>

  <!-- <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->

  <section
    class="bug-cards"
    style="display: flex; flex-wrap: wrap; justify-content: space-evenly"
  >
    {% for bug in workspace.bugs %}

    <div class="card my-2" style="width: 45%">
      <div class="card-header">
        <h4 class="h2 text-primary card-title">{{ bug.bug_title }}</h4>
      </div>

      <div class="card-body">
        <pre class="h5">{{ bug.bug_description }}</pre>
      </div>

      <div class="card-body">
        <p class="card-text text-right text-info">
          <b>Posted:</b> {{ bug.author_username }}, {{ bug.date }}
        </p>
      </div>
    </div>
    {% endfor %}
  </section>

  <br />

  <form method="POST" id="add-bugs">
    <h2 class="h1 border-bottom pb-1 pt-3 mb-3">Open a bug report</h2>

    <div id="form-group">
      <label for="bug-title" class="h4">Title</label>
      <input
        class="form-control form-control-lg"
        id="bug-title"
        name="bug-title"
        placeholder="Enter a title/header for your bug report"
        max-length="64"
        required
      />
    </div>

    <br />

    <div id="form-group">
      <label for="bug-description" class="h4">Description</label>
      <textarea
        class="form-control form-control-lg"
        id="bug-description"
        name="bug-description"
        placeholder="Enter a detailed description for the bug you're reporting"
        max-length="1024"
        required
      ></textarea>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Create new workspace</button>
  </form>
</section>

{% endblock %}
