@mixin form-group-format {
  display: flex;
  justify-content: space-between;

  label {
    font-weight: bold;
    text-align: left;
    width: 7rem;
  }
}

#account-info,
#security {
  width: 100%;
}

#account-info {
  li {
    display: flex;

    a {
      text-decoration: none;
      margin: 0 $generalSpacing;
    }
  }
}

#change-email {
  .form-group {
    @include form-group-format();
  }
}

#change-password {
  margin-left: $generalSpacing;

  .form-group {
    @include form-group-format();
    margin-top: $generalSpacing;
    margin-left: $generalSpacing;
  }

  button {
    margin-left: $generalSpacing * 2;
  }
}
