#bugs-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 90vw;
    position: relative;
    left: -22.5vw;
}

#report-bug-card {
    background-color: lightgreen;

    p {
        font-size: 15rem;
        line-height: 7.5rem;
        color: white;
    }

    a {
        font-size: 3rem;
        color: white;
    }
}

.bug-card {
    width: $cardWidth;
    margin-left: 2rem;

    pre {
        white-space: pre-wrap;
    }
}