#workspace-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  h1 {
    text-align: center;
    width: 85%;
  }

  a {
    font-size: 2.2rem;
    color: grey;
    margin: 0 0.5rem;

    &:hover {
      color: lightslategrey;
    }
  }
}

#modal-collaborators {
  form {
    display: flex;
    flex-wrap: nowrap;

    button {
      margin-left: 0.5rem;
    }
  }

  .existing-collaborator {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
    }
  }
}

#bugs-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 90vw;
  position: relative;
  left: -22.5vw;
}

#report-bug-card {
  background-color: lightgreen;

  p {
    font-size: 15rem;
    line-height: 7.5rem;
    color: white;
  }

  a {
    font-size: 3rem;
    color: white;
  }
}

.bug-card {
  width: $cardWidth;
  margin-left: 2rem;

  pre {
    white-space: pre-wrap;
  }
}
