#workspace-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2vh;

  h1 {
    text-align: center;
    width: 85%;
  }

  a {
    font-size: 2.2rem;
    color: $iconColour;
    margin: 0 0.5rem;

    &:hover {
      color: $iconColourHover;
    }
  }
}

#modal-collaborators {
  form {
    display: flex;
    flex-wrap: nowrap;

    button {
      margin-left: 0.5rem;
    }
  }

  .existing-collaborator {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
    }
  }
}

#bugs-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: $cardSectionWidth;
}

.bug-card {
  width: 24%;
  min-height: $cardMinHeight;
  margin: 0.5%;

  .header-with-options {
    display: flex;
    justify-content: space-between;

    i {
      color: $iconColour;

      &:hover {
        color: $iconColourHover;
      }
    }
  }

  .bug-description {
    white-space: pre-wrap;
  }
}

.important-bug {
  border: solid $importantBorderWidth $importantBorderColour;
}

#report-bug-card {
  background-color: $reportBugBg;

  div {
    height: 100%;
  }

  a {
    height: 100%;
    font-size: 3rem;
    color: $reportBugText;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      margin: 0;
      width: 100%;
    }

    #report-bug-symbol {
      font-size: 15rem;
      line-height: 7.5rem;
      margin-bottom: 2rem;
    }

    &:hover {
      color: $reportBugTextHover;
    }
  }

  &:hover {
    background-color: $reportBugBgHover;
  }
}
