// General
$generalSpacing: 1rem;
$iconColour: hsl(0, 0%, 50%);
$iconColourHover: hsl(210, 14%, 53%);

// Workspace
$cardMinHeight: 25rem;
$cardSpacing: 1rem;
$cardSectionWidth: 95vw;
$weirdCenterDiscrepancy: -2rem;
$baseFontSize: 1.2rem;
$reportBugBg: hsl(142, 98%, 36%);
$reportBugBgHover: hsl(142, 95%, 38%);
$reportBugText: hsl(0, 0%, 100%);
$reportBugTextHover: hsl(249, 100%, 97%);
$importantHeaderColour: hsla(51, 90%, 60%, 0.774);
$importantBodyColour: hsl(39, 70%, 70%);
//  hsl(56, 100%, 75%)
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: $baseFontSize;
  display: flex;
  flex-direction: column;

  main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@import "workspace";
@import "hub";
@import "login";
@import "account";
