$cardWidth: 35rem;
$cardMinHeight: 25rem;
$baseFontSize: 1.2rem;
$reportBugBg: green;
$reportBugBgHover: rgb(4, 136, 4);
$reportBugText: #ffffff;
$reportBugTextHover: rgb(234, 231, 255);

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: $baseFontSize;
}

@import "workspace";
