// Workspace Hub

// Workspace
$cardMinHeight: 25rem;
$cardSpacing: 1rem;
$cardSectionWidth: 95vw;
$weirdCenterDiscrepancy: -2rem;
$baseFontSize: 1.2rem;
$reportBugBg: #02b845;
$reportBugBgHover: #05bb48;
$reportBugText: #ffffff;
$reportBugTextHover: rgb(244, 242, 255);

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: $baseFontSize;
  display: flex;
  flex-direction: column;

  main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@import "workspace";
@import "hub";
