// Used in the account page for applying some base styling to form groups
@mixin form-group-format {
  display: flex;
  justify-content: space-between;

  label {
    font-weight: bold;
    text-align: left;
    width: 8rem;
  }
}
