// General
$generalSpacing: 1rem;
$baseFontSize: 1.2rem;
$iconColour: hsl(0, 0%, 50%);
$iconColourHover: hsl(210, 14%, 53%);
$iconColourImportant: hsl(0, 100%, 50%);
$iconColourClosed: hsl(142, 98%, 36%);
$iconColourOpen: hsl(39, 100%, 50%);

// Workspace
$cardMinHeight: 25rem;
$cardSpacing: 1rem;
$cardSectionWidth: 95vw;
$cardHeaderLineHeight: 2.5rem;
$cardBoxShadowWidth: 0.1rem;
$cardBoxShadowColour: hsla(0, 8%, 33%, 0.288);

$reportBugBg: hsl(142, 98%, 36%);
$reportBugBgHover: hsl(142, 95%, 38%);
$reportBugBoxShadowColour: hsl(142, 30%, 50%);
$reportBugText: hsl(0, 0%, 100%);
$reportBugTextHover: hsl(249, 100%, 97%);

// Bug
$statusBannerFontSize: 1.4rem;
