@use '../abstracts' as *;

#account-info,
#security {
  width: 100%;
}

#account-info {
  li {
    display: flex;

    a {
      text-decoration: none;
      margin: 0 $generalSpacing;
    }
  }
}

#change-email {
  .form-group {
    @include form-group-format();
    input {
      margin-left: $generalSpacing;
    }
  }

  .current-email {
    flex-grow: 1;
  }
}

#change-password {
  margin-left: $generalSpacing;

  .form-group {
    @include form-group-format();
    margin-top: $generalSpacing;
    margin-left: $generalSpacing;
  }

  button {
    margin-left: $generalSpacing * 2;
  }
}
