@use '../abstracts' as *;

#bug-report-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > * {
      margin-right: $generalSpacing;
    }

    h1 {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .bannerContainer {
      display: flex;

      & > * {
        margin-right: $generalSpacing / 2;
      }
    }
  }

  // Base class which other banner classes extend off of
  .banner {
    font-size: $statusBannerFontSize;
    border: solid $iconColourOpen 0.1rem;
    border-radius: $statusBannerFontSize;
    padding: 0.1rem 0.3rem;
  }

  .bannerOpen {
    @extend .banner;
    color: $iconColourOpen;
  }

  .bannerImportant {
    @extend .banner;
    border-color: $iconColourImportant;
    color: $iconColourImportant;
  }

  .bannerClosed {
    @extend .banner;
    border-color: $iconColourClosed;
    color: $iconColourClosed;
  }
}

#bug-discussion {
  min-height: 30vh;
  width: 90%;
  margin: $generalSpacing auto;

  #comments {
    min-height: 30vh;

    div {
      margin-top: $generalSpacing;
      p {
        text-align: left;
      }
    }

    .commentAction {
      & :nth-child(1) {
        display: none;
      }

      p {
        color: $textSecondary;
        font-style: italic;
        text-align: center;

        &:before,
        &:after {
          display: inline-block;
          content: "";
          border-top: 0.15rem solid $textSecondary;
          width: 25%;
          margin: 0 $generalSpacing;
          transform: translateY(-$baseFontSize/4);
        }
      }
    }
  }

  form {
    padding: $generalSpacing;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    button {
      margin: $generalSpacing;
    }
  }
}
