@use '../abstracts' as *;

#workspaces,
#new-workspace {
  margin: $generalSpacing 0;
  width: 100%;

  form {
    margin-left: $generalSpacing;

    button {
      margin-left: $generalSpacing;
    }
  }
}
