@use '../abstracts' as *;

#login-section {
  margin: $generalSpacing 0;
  width: 100%;

  form {
    margin-left: $generalSpacing;

    .form-group {
      margin-top: $generalSpacing;
    }

    button {
      margin-left: $generalSpacing;
    }

    a {
      margin-left: $generalSpacing / 2;
    }
  }
}
