@use '../abstracts' as *;

#sign-up-section {
  width: 100%;

  form {
    margin-left: $generalSpacing;

    .form-group {
      margin-top: $generalSpacing;
    }

    button {
      margin-left: $generalSpacing;
    }
  }
}
